<html>
<head>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="/public/assets/logo.png" />
    <title>Personal Web | Update Project</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-grey">
        <div class="container">
          <a class="navbar-brand me-5" href="/"><img src="/public/assets/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active me-3" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/add-project">Add Project</a>
              </li>
            </ul>
              <a class="btn bg-black text-white" href="/contact">Contact Me</a>
          </div>
        </div>
    </nav>
    <!--End Navbar -->

    <!-- Add Project Form -->
    <div class="container-project-form d-flex justify-content-center align-items-center">
      <form action='/update-project/{{i}}' method='POST'>     
        <div class="mb-1">
          <h1 class="text-center">EDIT MY PROJECT</h1>
          <label for="input-project-name" class="form-label">Project Name</label>
          <input type="text" class="form-control" name="projectName" id="input-project-name" placeholder="Input Project Name..." value="{{update.projectName}}">
        </div>
        <div class="row mb-1">
          <div class="col">
            <label for="input-start-date" class="form-label">Start Date</label>
            <input type="date" class="form-control" name="startDate" id="input-start-date" aria-label="First name" value="{{update.projectDate.startDate}}">
          </div>
          <div class="col">
            <label for="input-end-date" class="form-label">End Date</label>
            <input type="date" class="form-control" name="endDate" id="input-end-date" aria-label="Last name" value="{{update.projectDate.endDate}}">
          </div>
        </div>
        <div class="mb-1">
          <label for="input-desc" class="form-label">Description</label>
          <textarea class="form-control" id="input-desc" name="description" placeholder="Description of Project..." rows="3">{{update.projectDesc}}</textarea>
        </div>
        <div class="row mb-1">
        <label class="mb-1" for="form-check">Technologies</label>
        <div class="form-check col">
          <input class="form-check-input" type="checkbox" id='nodeJs' name='nodeJs' {{#if update.techIcon.nodeJs}} checked {{/if}}>
          <label class="form-check-label" for="nodeJs">
            Node JS
          </label> <br>
          <input class="form-check-input" type="checkbox" id="reactJs" name='reactJs' {{#if update.techIcon.reactJs}} checked {{/if}}>
          <label class="form-check-label" for="reactJs">
            React JS
          </label>
        </div>
        <div class="form-check col">
          <input class="form-check-input" type="checkbox" id="android" name='android' {{#if update.techIcon.android}} checked {{/if}}>
          <label class="form-check-label" for="android">
            Android
          </label><br>
          <input class="form-check-input" type="checkbox" id="java" name='java' {{#if update.techIcon.java}} checked {{/if}}>
          <label class="form-check-label" for="java">
            Java
          </label>
        </div>
      </div>
        <div class="mb-2">
            <div class="uim">
                <img src="/public/assets/{{update.projectImage}}" alt="">{{update.projectImage}}
            </div>
          <label for="project-image" class="form-label">Upload Image</label>
          <input class="form-control" name='image' type="file" id="project-image">
        </div>
        <div class="text-end mt-2">
        <button class="btn bg-black text-white">Submit</button>
        </div>
      </form>
    </div>
    <!-- End of Add Project Form -->
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>